:root {
    --s: 100px;  /* size  */
    --m: 4px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}

body {
    margin: 0;
}
* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

#app {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
}

.hexagons-wrapper {
    font-size: 0;
}

.hexagons-wrapper .hexagon {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547);
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: red;
    margin-bottom: calc(var(--m) - var(--s)*0.2885);
    position: relative;
}

.hexagons-wrapper div:nth-child(odd) {
    background:#D9A036;
}

.hexagons-wrapper div:nth-child(even) {
    background:#8C6723;
}

.hexagons-wrapper::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}

.hexagon:hover {
    cursor: pointer;
}

.value-span {
    position: absolute;
    font-weight: bold;
    color: black;
    z-index: 1000;
    font-size: 2em;
    left: 50%;
    top: 50%;
}
